// ...
        $('#submitButton').click(function() {
            const inputText = $('#inputText').val();
            $.ajax({
                url: 'url: 'https://vladislav1234.pythonanywhere.com/predict', // Вот здесь', // Исправлено: ваш реальный домен
                type: 'POST',
                contentType: 'application/json',
                data: JSON.stringify({ text: inputText }),
                success: function(response) {
                    $('#responseText').text(response.response);
                }
            });
        });
    </script>
</body>
</html>